@import url('./global.css');

header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
}
.nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;
}
.nav-header a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
}
.btn-header {
    display: flex;
    align-items: center;
    gap: 24px;
}
.btn-background-less {
    border-radius: 10px;
    padding: 16px 32px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
}
main {
    display: flex;
    justify-items: center;
    align-items: center;
}
.main-content {
    width: 563px;
    border: 1px solid red;
}
.main-image img {
    width: 651px;
}
.primary-font-color {
    color: var(--color-primary)
}